@model Person

<h1 class="my-5">
    @Model.FullName
</h1>

<div class="row gx-5">
    <div class="col-7">
        <p>@Model.Gender.ToString()</p>
        <p>@Model.BirthDate</p>

        <h2>Parents:</h2>
        @if (Model.Father is not null)
        {
            <component type="typeof(PersonCard)" render-mode="WebAssemblyPrerendered" param-Person=Model.Father param-SelectionType="@("unlink-father")" param-RelatedId=@Model.Id />
            <script src="_framework/blazor.webassembly.js"></script>
        }
        else
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mt-2">
                            <h2 class="text-start">
                                <a href="app/father/@Model.Id">+ Add father</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.Mother is not null)
        {
            <component type="typeof(PersonCard)" render-mode="WebAssemblyPrerendered" param-Person=Model.Mother param-SelectionType="@("unlink-mother")" param-RelatedId=@Model.Id />
            <script src="_framework/blazor.webassembly.js"></script>
        }
        else
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mt-2">
                            <h2 class="text-start">
                                <a href="app/mother/@Model.Id">+ Add mother</a>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        }

        <h3>Children:</h3>

        @foreach (var person in Model.Children)
        {
            <component type="typeof(PersonCard)" render-mode="WebAssemblyPrerendered" param-Person=person param-SelectionType="@("unlink-child")" param-RelatedId=@Model.Id />
            <script src="_framework/blazor.webassembly.js"></script>
        }
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mt-2">
                        <h2 class="text-start">
                            <a href="app/child/@Model.Id">+ Add child</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" asp-action="Delete">
            <a asp-controller="People" asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Edit</a>
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" onclick="javascript: return confirm('Are you sure you want to delete this person?');" />
        </form>
    </div>
</div>